.wrapper {
  display: flex;
  min-height: 100vh;
  background-color: var(--background);
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.pageContent {
  padding: 2rem;
  margin-left: 260px; /* Width of Sidebar */
  width: calc(100% - 260px);
  transition: all 0.3s ease;
}

@media (max-width: 1024px) {
  .pageContent {
    margin-left: 0;
    width: 100%;
    padding: 4.5rem 1rem 1.5rem 1rem; /* Slightly less padding to gain space */
  }
}
